/*Defining color palette*/
:root {
    --light-grey: #eaece5; /*almost white*/
    /*unused:*/
    --line-color: #09110f; /*almost black*/
    --dark: #1b312e; /*dark*/
    --dark-blue: #36635d;
    --mid-blue: #8ac1b8;
    --light-blue: #c0ded9;
}

.btm {
    background-color: var(--dark);
    color: var(--light-grey);
    width: 100%;
    height: 10vh;/*15vh;*/
    /*padding: 15px 15px;*/
    text-align: center;
    /*position: fixed;
    top: calc(85vh + 15px);
    left: 0;*/
}
