/*Defining color palette*/
:root {
	--line-color: #09110f; /*almost black*/
    --dark: #1b312e;
    --dark-blue: #36635d;
    --mid-blue: #8ac1b8;
    --light-blue: #c0ded9;
	--super-light-blue: #eef6f5;
    --light-grey: #eaece5; /*almost white*/
}

.main h2 {
    padding: 15px 0;
}

.main img {
    /*Skalerer*/
    max-width: 80%;
    max-height: 70vh;/*calc(85vh - 48px);*/
    /*Sentrerer*/
    display: block;
    margin: 0; /*Fjerner de 15px margin som er der fra før*/
    margin-left: auto;
    margin-right: auto;
}
